<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>
    <form th:method="post" >
        <input th:type="text" th:name="number" placeholder="Номер карты">
        <input th:type="text" th:name="code" placeholder="Код">
        <button type="submit" th:method="add">Добавить</button>
    </form>
</div>
<table th:each="card : ${cards}" border="1px" bgcolor="#66cdaa">
    <tr>
        <td><span th:text="${card.getCardNumber()}"> Номер карты </span></td>
        <td><span th:text="${card.getCode()}"> Код </span></td>
    </tr>
</table>
</body>
</html>